[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
argon2-cffi = "*"
attrs = "*"
backcall = "*"
bleach = "*"
caer = "*"
cffi = "*"
colorama = "*"
debugpy = "*"
decorator = "*"
defusedxml = "*"
easyocr = "*"
entrypoints = "*"
imageio = "*"
ipykernel = "*"
ipython = "*"
ipywidgets = "*"
jedi = "*"
jsonschema = "*"
jupyter = "*"
jupyter-client = "*"
jupyter-console = "*"
jupyter-core = "*"
jupyterlab-pygments = "*"
jupyterlab-widgets = "*"
kiwisolver = "*"
matplotlib = "*"
matplotlib-inline = "*"
mistune = "*"
mypy = "*"
mypy-extensions = "*"
nbclient = "*"
nbconvert = "*"
nbformat = "*"
nest-asyncio = "*"
networkx = "*"
notebook = "*"
numpy = "*"
opencv-contrib-python = "*"
opencv-python = "*"
pandocfilters = "*"
parso = "*"
pickleshare = "*"
prometheus-client = "*"
prompt-toolkit = "*"
pycparser = "*"
pyparsing = "*"
pyrsistent = "*"
pytesseract = "*"
python-bidi = "*"
python-dateutil = "*"
pywin32 = "*"
pywinpty = "*"
pyzmq = "*"
qtconsole = "*"
scikit-image = "*"
scipy = "*"
six = "*"
terminado = "*"
testpath = "*"
tifffile = "*"
toml = "*"
torch = "*"
torchaudio = "*"
torchvision = "*"
tornado = "*"
traitlets = "*"
typing-extensions = "*"
wcwidth = "*"
webencodings = "*"
widgetsnbextension = "*"
Cycler = "*"
ipython_genutils = "*"
Jinja2 = "*"
MarkupSafe = "*"
Pillow = "*"
Pygments = "*"
PyWavelets = "*"
PyYAML = "*"
QtPy = "*"
Send2Trash = "*"

[dev-packages]

[requires]
python_version = "3.8"
